@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url("/css/practice_login/img/fonts/SpoqaHanSansNeo-Medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url("/css/practice_login/img/fonts/SpoqaHanSansNeo-Regular.otf");
    font-weight: 400;
}
body{
    font-family: 'Spoqa Han Sans Neo', 'sans-seif';
    line-height: 15px;
    font-weight: 400;
    font-size: 12px;
}
/* 
float와 flex, grid는 호환성의 차이도 있지만 근본적인 차이가 있음
flex, grid: 기본적으로 컨테이너 개념이 들어가 있음
float: 묶어주는 요소가 필요함
*/
.cont-login{
    width: 350px;
    margin: 20px auto;
    padding: 18px 15px 17px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;

    /* 부모 요소를 변경해서 float된 요소 포함시키기 또는 clearFix class 사용 */
    /* overflow: hidden; */
    /* display: inline-block; */
}

.clearFix::after{
    content: "";
    clear: both;
    display: table;
}

.cont-login .text-login{
    margin-bottom: 16px;
}

/* 
마진과 패딩 사용법
요소와 요소 사이에 간격을 주고 싶을 때 마진,
자기 안에 있는 요소들 간의 간격을 주고 싶을 때 패딩
*/

/* 
요소에 미치는 영향이 가장 큰 순서로 css를 작성한다
*/
.cont-login .link-login{
    display: block;
    padding: 13px 20px 12px;
    margin-bottom: 17px;
    background: #711BFF;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.link-login .img-login{
    width: 57px;
    height: 11px;
    margin-right: 8px;
}

.cont-login .find{
    float: left;
}

.cont-login .join{
    float: right;
}

.cont-login .img-find,
.cont-login .img-join{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.cont-login .find *, .cont-login .join *{
    float: left;
}

.find [class^=link], .join [class^=link]{
    color: #767676;
    text-decoration: none;
}

/* '|'는 스크린리더가 읽을 수 있는 요소 이기 때문에 글자가 아닌 요소로 입력하는 방법 */
.find .link-id::after{
    display: inline-block;
    content: '';
    width: 1px;
    height: 11px;
    background-color: #767676;
    margin: 0 4px;

}